body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 50px;
}
.button{
    border-left: 5px solid green;
    margin-left: 5px;
}
.size{
    margin-left: 5px;
}
.blue-color{
    color: aquamarine;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 70%;
}
.container{
    display: flex;
}
.text-on{
    text-align: center;
}
.text-out{
    
    color: turquoise;
}
.fast-mission{
    border-radius: 10px;
    width: 30%;
    margin-left: 5%;
    background-color:darkseagreen;
    padding-left: 20px;
    box-shadow: 10px 10px 40px grey;
}
.fast-mission img{
    width: 35%;
}
.fast-vision{
    border-radius: 10px;
    width: 30%;
    background-color: slategrey;
    margin-left: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px grey;
}
.fast-vision img{
    width: 35%;
}
.fast-goals{
    border-radius: 10px;
    width: 30%;
    margin-left: 5%;
    background-color: darkturquoise; 
    padding-left: 20px;
    box-shadow: 10px 10px 40px grey;
}
.fast-goals img{
    width: 35%;
}
.no-decoration{
    text-decoration: none;
    background-color: deepskyblue;
    padding: 10px 30px;
    border-radius: 5px;
}
.border-color{
    border-radius:15px; 
    border-image: 30px 30px 30px 30px;
} 
footer{
    color: snow;
    text-align: center;
    background-color:black;
}
.red-color{
    color: red;
}
.corona-covid{
    width: 80%;
    padding-left: 10%;
}
.corona-covid img{
    width: 100%;
}
.corona-covid{
    display: flex;
    margin-bottom: 100px; 
}
